@import url('./base.css');

.copy {
  width: fit-content;
  display: inline-block;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0.5rem;
}
.copy::after {
  content: '复制';
  font-size: 15px;
  color: #c55959;
  width: fit-content;
  top: 1.6rem;
  left: 0;
  position: relative;
}
.vp-adaptive-theme {
  position: relative;
}
.lang {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 1.25rem;
  color: #c55959;
  padding: 0 5px;
}
